<div class="container">
  <h3>Product List</h3>
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
          
         
        </thead>
        <tbody>
          @for(p of productList;track p.id){
          <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary" (click)="editProduct(p)">Edit</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-danger" (click)="deleteProduct(p.id)">Delete</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-info" (click)="infoProduct(p.id)">Info</button>
            </td>
            
          </tr>
        }
        </tbody>

      </table>
    </div>
    <div class="col-6">
      <h3>Add Product</h3>
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="id" class="form-label">Id</label>
              <input type="text" required  class="form-control"
                id="exampleFormControlInput1" formControlName="id" placeholder="Product Id">
              
               
              
            </div>
    
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" required [class.is-invalid]="name?.invalid && name?.touched" class="form-control"
                id="exampleFormControlInput1" formControlName="name" placeholder="Product name">
              <div *ngIf="name?.invalid && name?.touched">
                <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
              </div>
            </div>
    
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" required [class.is-invalid]="price?.invalid && price?.touched" class="form-control"
                id="exampleFormControlInput1" formControlName="price" placeholder="Product price">
              <div *ngIf="price?.invalid && price?.touched">
                <small class="text-danger" *ngIf="price?.errors?.['required']">Price is required</small>
              </div>
            </div>
    
          </div>
        </div>
        <div class="form-floating mb-3">
          <button type="submit" *ngIf="!isUpdatebtn" [disabled]="productForm.invalid" class="btn btn-outline-primary">Add</button> &nbsp;&nbsp;
          <button type="button"  class="btn btn-outline-primary" (click)="clearForm()">Cancel</button>&nbsp;&nbsp;
          <button type="submit" *ngIf="isUpdatebtn"class="btn btn-outline-primary">Update</button>
        </div>
        </form>
      </div>
  </div>
</div>
